In [1]:
#import python libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
# import csv file
df = pd.read_csv('Diwali Sales Data.csv', encoding='ISO-8859-1')
# to avoid encoding error

## DATA CLEANING TASKS

In [4]:
df.shape

(11251, 15)

In [ ]:
df.head(2)

In [ ]:
df.info()

In [7]:
# Drop unrelated / blank columns
df.drop(['Status','unnamed1'], axis=1,inplace=True)

In [ ]:
pd.isnull(df)

In [ ]:
#check for null values
pd.isnull(df).sum()

In [ ]:
df.shape

In [12]:
#drop null values
df.dropna(inplace=True)

In [ ]:
# to understand meaning of inplace

# initialize the list of lists
data_test=[['madhav',11],['gopi',15],['keshav',],['lalita',16]]

# create the pandas dataframe using list
df_test = pd.DataFrame(data_test,columns=['Name','Age'])
df_test

In [14]:
df_test.dropna(inplace=True)
# both are same thing
# df_test.dropna(inplace=True)
# df_test =df_test.dropna()

In [ ]:
df_test 
#  again coming , w/o saving ,closed file

In [19]:
# change data type
df['Amount'] = df['Amount'].astype('int')

In [ ]:
df['Amount'].dtypes

In [ ]:
df.columns

In [ ]:
#rename column
df.rename(columns= {'Marital_Status':'Shaadi'})

In [ ]:
# describe() method returns desciption of the data in the data frame (i.e. count,mean,std,etc)
df.describe()

In [ ]:
# describe () for specific column
df[['Age','Orders','Amount']].describe()

## EXPLORATORY DATA ANALYSIS

#### GENDER

In [ ]:
df.columns

In [ ]:
ax = sns.countplot(x='Gender',data = df)

In [ ]:
# for column values
ax = sns.countplot(x='Gender',data = df)
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_gen = df.groupby(['Gender'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.barplot(x='Gender',y='Amount',data=sales_gen)

***From above graphs we can see that most of the buyers are females and even the purchasing power of females are greater than men.***

#### AGE

In [ ]:
df.columns

In [ ]:
ax = sns.countplot(data=df,x='Age Group' , hue="Gender")
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
#Total Amount vs Age Group
sales_age = df.groupby(['Age Group'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sales_age
sns.barplot(x='Age Group',y='Amount',data =sales_age)

***From above graphs we can see that most of the buyers are of age group between 26-35 yrs female.***

#### STATE

In [ ]:
df.columns

In [ ]:
# total number of orders from top 10 states
sales_state = df.groupby(['State'],as_index=False)['Orders'].sum().sort_values(by='Orders',ascending=False).head(10)
sns.set(rc={'figure.figsize':(15,5)})
sns.barplot(data=sales_state,x='State',y='Orders')

In [ ]:
# total amount/sales from top 10 states
sales_state = df.groupby(['State'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False).head(10)
sns.set(rc={'figure.figsize':(15,5)})
sns.barplot(data=sales_state,x='State',y='Amount')

***From above graphs we can see that inexpectedly most of the orders are from Uttar Pradesh, Maharashtra and Karnataka respectively but total sales/amount is from UP,Karnataka then Maharashtra.***

### MARTIAL STATUS

In [ ]:
ax = sns.countplot(data=df,x='Marital_Status')
sns.set(rc={'figure.figsize':(4,3)})
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_state = df.groupby(['Marital_Status','Gender'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False).head(10)
sns.set(rc={'figure.figsize':(6,5)})
sns.barplot(data=sales_state,x='Marital_Status',y='Amount',hue='Gender')

***From above graphs we can see that most of the buyers are married (women) and they have high purchasing power.***

#### OCCUPATION

In [ ]:
ax = sns.countplot(data=df,x='Occupation')
sns.set(rc={'figure.figsize':(20,5)})
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_state = df.groupby(['Occupation'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data=sales_state,x='Occupation',y='Amount')

***From above graphs we can say that most of the buyers are working in IT,Aviation and Healthcare sector.***

#### PRODUCT CATEGORY

In [ ]:
sns.set(rc={'figure.figsize':(20,5)})
ax = sns.countplot(data=df,x='Product_Category')
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_state = df.groupby(['Product_Category'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data=sales_state,x='Product_Category',y='Amount')

***From above graphs we can see that most of the sold product are from Food,Footwear,Clothing and Electronics category.***

In [ ]:
sales_state = df.groupby(['Product_ID'],as_index=False)['Orders'].sum().sort_values(by='Orders',ascending=False).head(10)
sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data=sales_state,x='Product_ID',y='Orders')

In [ ]:
#top 10 most sold products (Same thing as above)
fig1,ax1 = plt.subplots(figsize=(12,7))
df.groupby('Product_ID')['Orders'].sum().nlargest(10).sort_values(ascending=False).plot(kind='bar')

#### CONCLUSION:

***Married women age group 26-35 yrs from UP,Maharashtra and Karnataka working in IT, Healthcare and Aviation are more likely to buy products from Food ,Clothing and Electronics Category.***